@import url('https://fonts.googleapis.com/css2?family=Protest+Riot&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  --viewer-background: #fff;
  --viewer-secondary: #f8f8f8;
  --viewer-muted: #aaa;
  --viewer-border: 1px solid #aaa;
  --viewer-border-radius: 4px;

  --viewer-icon-primary: #000;
  --viewer-icon-secondary: #888;
  --viewer-button-primary: #007bff;
  --viewer-button-primary-hover: #0056b3;
  --viewer-button-secondary: #6c757d;
  --viewer-button-secondary-hover: #545b62;
  --viewer-button-destructive: #dc3545;
  --viewer-button-destructive-hover: #bd2130;
  --viewer-button-ghost: transparent;
}

pre {
  position: relative;
  padding: 16px;
  background-color: var(--viewer-secondary);
  border-radius: var(--viewer-border-radius);
}

pre .icon {
  position: absolute;
  top: 16px;
  right: 16px;
  color: var(--viewer-button-secondary);
  padding: 4px;
  border-radius: var(--viewer-border-radius);
  cursor: pointer;
}

pre .icon:hover {
  color: var(--viewer-button-secondary-hover);
}

pre .icon:active {
  transform: translateY(1px);
}

.button {
  display: flex;
  gap: 8px;
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  color: white;
  border-radius: var(--viewer-border-radius);
  padding: 10px 16px;
  cursor: pointer;
  user-select: none;
  transition: background-color 0.3s ease;
}

.button-primary {
  background-color: var(--viewer-button-primary);
}

.button-primary:hover {
  background-color: var(--viewer-button-primary-hover);
}

.button-secondary {
  background-color: var(--viewer-button-secondary);
}

.button-secondary:hover {
  background-color: var(--viewer-button-secondary-hover);
}

.button-destructive {
  background-color: var(--viewer-button-destructive);
  color: white;
}

.button-destructive:hover {
  background-color: var(--viewer-button-destructive-hover);
}


/* Handle button pressing */
.button:active {
  transform: translateY(1px);
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Selected node styling */
.selected {
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.08);
}

.modal {
  position: absolute;
  top: 5%;
  left: 5%;
  right: 5%;
  bottom: 5%;
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
  background: white;
  border-radius: var(--viewer-border-radius);
  border: var(--viewer-border);
  padding: 32px;
}

.modal-shrink {
  top: 10%;
  left: 10%;
  right: 10%;
  bottom: 10%;
}

.modal-overlay {
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(2px);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.modal-navbar {
  display: flex;
  flex-wrap: wrap-reverse;
  gap: 16px;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
}

/* Modal button improvements */
.modal-actions {
  display: flex;
  gap: 10px;
}

.modal-header {
  display: block;
  max-width: 75%;
}

.modal-heading {
  margin-top: 0;
  margin-bottom: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* Modal subtitle styles */
.modal-subtitle {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 0.8rem;
  color: #666;
}

.modal-close {
  background-color: #888;
  cursor: pointer;
}

.modal-content {
  border-radius: var(--viewer-border-radius);
  overflow-y: scroll;
  max-height: calc(100% - 64px);
}

.modal-content h1,
.modal-content h2,
.modal-content h3,
.modal-content h4,
.modal-content h5,
.modal-content h6 {
  margin-top: 0;
}

.modal-content .modal-split {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 16px;
}

.modal-content .modal-split .modal-split-container {
  flex-grow: 1;
}

.tutorial-overlay {
  width: 95%;
  display: flex;
  gap: 4px;
  position: absolute;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 0.75rem;
}

/* Positioning for each overlay */
.tutorial-layout {
  bottom: -32px;
  left: 0;
}

.tutorial-service {
  justify-content: end;
  bottom: -32px;
  right: 0;
}

/* Service option styles */
.service-option {
  font-family: 'Poppins', sans-serif;
}

.service-option:hover {
  background-color: rgba(0, 0, 0, 0.05) !important;
}

.react-flow {
  --xy-edge-stroke-default: #31c787;
  --xy-edge-stroke-width-default: 1;
  --xy-edge-stroke-selected-default: #4d5553;
  --xy-connectionline-stroke-default: #31c787;
  --xy-connectionline-stroke-width-default: 1;
  --xy-attribution-background-color-default: rgba(255, 255, 255, 0.5);
  --xy-minimap-background-color-default: var(--viewer-background);
  --xy-background-pattern-dots-color-default: #a2ccb5;
  --xy-background-pattern-line-color-default: #eee;
  --xy-background-pattern-cross-color-default: #e2e2e2;
  --xy-node-color-default: inherit;
  --xy-node-border-default: var(--viewer-border);
  --xy-node-background-color-default: var(--viewer-background);
  --xy-node-group-background-color-default: rgba(240, 240, 240, 0.25);
  --xy-node-boxshadow-hover-default: 2px 2px 2px 2px rgba(0, 0, 0, 0.08);
  --xy-node-boxshadow-selected-default: 1px 1px 1px 1px rgba(0, 0, 0, 0.08);
  --xy-handle-background-color-default: #1a192b;
  --xy-handle-border-color-default: var(--viewer-background);
  --xy-selection-background-color-default: rgba(0, 89, 220, 0.08);
  --xy-selection-border-default: 1px dotted rgba(0, 89, 220, 0.8);
  --xy-controls-button-background-color-default: var(--viewer-button);
  --xy-controls-button-background-color-hover-default: var(--viewer-secondary);
  --xy-controls-button-color-default: inherit;
  --xy-controls-button-color-hover-default: inherit;
  --xy-controls-button-border-color-default: #eee;
  --xy-controls-box-shadow-default: 0 0 2px 1px rgba(0, 0, 0, 0.08);
  --xy-resize-background-color-default: #3367d9;

  --xy-custom-node-background: linear-gradient(165deg, var(--viewer-background), #f8f8f8);
  --xy-custom-node-padding: 10px;
  --xy-custom-edge-stroke-error: #ff7090;
  --xy-custom-edge-stroke-inactive: #aaa;
  --xy-custom-border-radius-default: var(--viewer-border-radius);
}

/* Custom Button Styles */
.react-flow__panel .button {
  color: black;
  background-color: var(--viewer-background);
}

.react-flow__panel .button:hover {
  background-color: var(--viewer-secondary);
}

.reactflow-panel-button {
  border: 1px solid #eee;
  border-radius: var(--xy-custom-border-radius-default);
}

.reactflow-panel-group {
  display: flex;
  border: none;
}

.reactflow-panel-group-left,
.reactflow-panel-group-middle,
.reactflow-panel-group-right {
  border-radius: 0;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

.reactflow-panel-group-left:hover,
.reactflow-panel-group-middle:hover,
.reactflow-panel-group-right:hover {
  background: var(--viewer-secondary);
}

.reactflow-panel-group-left {
  border-left: 1px solid #eee;
  border-top-left-radius: var(--xy-custom-border-radius-default);
  border-bottom-left-radius: var(--xy-custom-border-radius-default);
  border-right: 1px solid #eee;
}

.reactflow-panel-group-middle {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: 1px solid #eee;
}

.reactflow-panel-group-right {
  border-right: 1px solid #eee;
  border-radius: 0;
  border-top-right-radius: var(--xy-custom-border-radius-default);
  border-bottom-right-radius: var(--xy-custom-border-radius-default);
}

/* Global node styling */
.react-flow__node-default,
.react-flow__node-container,
.react-flow__node-service,
.react-flow__node-stage {
  border-radius: var(--xy-custom-border-radius-default);
  transition: box-shadow .15s ease-out;
  box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.15);
}

.react-flow__node .react-flow__node-service .selected {
  box-shadow: var(--xy-node-boxshadow-selected-default);
  outline: 1px solid var(--xy-custom-edge-stroke-inactive);
}

.react-flow__node-default.draggable:hover,
.react-flow__node-container.draggable:hover,
.react-flow__node-container.draggable:hover,
.react-flow__node-service.draggable:hover,
.react-flow__node-stage.draggable:hover,
.react-flow__node-warehouse.draggable:hover {
  box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 0.05);
  outline: 1px solid var(--xy-custom-edge-stroke-inactive);
}

.react-flow__node-default.selected,
.react-flow__node-container.selected,
.react-flow__node-service.selected,
.react-flow__node-stage.selected,
.react-flow__node-warehouse.selected {
  box-shadow: var(--xy-node-boxshadow-selected-default);
  outline: 1px solid var(--xy-custom-edge-stroke-inactive);
}

.react-flow__node-default.draggable:hover,
.react-flow__node-container.draggable:hover,
.react-flow__node-container.draggable:hover,
.react-flow__node-service.draggable:hover,
.react-flow__node-stage.draggable:hover,
.react-flow__node-warehouse.draggable:hover {
  box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 0.05);
  outline: 1px solid var(--xy-custom-edge-stroke-inactive);
}

.react-flow__node-container-contents {
  width: 100%;
  height: 100%;
  border-radius: var(--xy-custom-border-radius-default);
  backdrop-filter: blur(4px);
  background: linear-gradient(48deg, #eee, var(--viewer-background));
  outline: 1px dotted var(--xy-custom-edge-stroke-inactive);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: 200;
  font-size: 2em;
  color: #ddd
}

.viewer {
  background: white;
  border: 1px solid #eee;
}

/* Node handle styling */
.react-flow__handle {
  z-index: 100;
  background-color: white;
  border: 1px solid var(--xy-edge-stroke-default);

  transition: background-color 0.5s;
}

.react-flow__handle:hover {
  background-color: var(--xy-edge-stroke-default);
}

/* Invisible handle to make dragging feel better */
.react-flow__handle::after {
  content: '';
  display: block;
  width: 8px;
  height: 8px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.react-flow__handle-plugged {
  background-color: var(--xy-edge-stroke-default);
}

/* Service node */
.react-flow__node-service-contents {
  background: var(--xy-custom-node-background);
  border-radius: var(--xy-custom-border-radius-default);
  padding: var(--xy-custom-node-padding);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 200px;
  min-height: 36px;
}

.react-flow__node-service-information {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
}

/* Service node action buttons */
.react-flow__node-service-action-button {
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  background: white;
  border-radius: 50%;
  padding: 4px;
  cursor: pointer;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  opacity: 0;
  transform: translateY(10px);
  transition: transform 0.2s ease-out, opacity 0.2s ease-out;
}

.react-flow__node-service:hover .react-flow__node-service-action-buttons .react-flow__node-service-action-button,
.react-flow__node-service.selected .react-flow__node-service-action-buttons .react-flow__node-service-action-button {
  pointer-events: all;
  opacity: 1;
  transform: translateY(0);
}

.react-flow__node-service:hover .react-flow__node-service-action-buttons .react-flow__node-service-action-button:nth-child(2),
.react-flow__node-service.selected .react-flow__node-service-action-buttons .react-flow__node-service-action-button:nth-child(2) {
  transition-delay: 0.05s;
}

.react-flow__node-service-action-buttons {
  position: absolute;
  top: -12px;
  right: -12px;
  display: flex;
  gap: 6px;
  z-index: 10;
}

/* Animation for buttons appearing */
.react-flow__node-service-action-buttons.active .react-flow__node-service-action-button {
  pointer-events: all;
  opacity: 1;
  transform: translateY(0);
}

.react-flow__node-service-action-buttons.active .react-flow__node-service-action-button:nth-child(2) {
  transition-delay: 0.05s;
}

.react-flow__node .react-flow__node-service-action-button-destructive {
  transition: color 0.1s ease-out;
}

.react-flow__node .react-flow__node-service-action-button-destructive:hover {
  color: var(--viewer-button-destructive);
}

/* Service node modal form styles */
.react-flow__node-service-form {
  height: 1080px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.react-flow__node-service-form-field {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.react-flow__node-service-form-field h1,
.react-flow__node-service-form-field h2,
.react-flow__node-service-form-field h3,
.react-flow__node-service-form-field h4,
.react-flow__node-service-form-field h5 {
  margin-bottom: 4px;
}

.react-flow__node-service-form-field input {
  max-width: 480px;
  padding: 8px;
  font-size: 1rem;
  border: var(--viewer-border);
  border-radius: var(--viewer-border-radius);
}

.react-flow__node-service-form-field input:focus {
  outline: 2px solid var(--viewer-button-primary);
  border-color: var(--viewer-button-primary);
}

.react-flow__node-service-form-parameters {
  background-color: var(--viewer-secondary);
  padding: 16px;
  border-radius: var(--viewer-border-radius);
  border: var(--viewer-border);
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.react-flow__node-service-form-parameters .react-flow__node-service-form-field {
  width: 474px;
}

.react-flow__node-service-form-checkbox {
  display: flex;
  align-items: center;
  gap: 8px;
}

.react-flow__node-service-form-row {
  display: flex;
  align-items: center;
  gap: 8px;
}

.react-flow__node-service-delete {
  margin-top: 24px;
}

.react-flow__node-service-contents--error-service-pull,
.react-flow__node-service-contents-source-error-service-pull,
.react-flow__node-service-contents-destination-error-service-push {
  outline: 2px solid var(--xy-custom-edge-stroke-error);
  animation: blink-outline 1s infinite;
}

.react-flow__node-service-contents--error-service-pull .react-flow__handle,
.react-flow__node-service-contents-source-error-service-pull .react-flow__handle,
.react-flow__node-service-contents-destination-error-service-push .react-flow__handle {
  border-color: var(--xy-custom-edge-stroke-error);
}

.react-flow__node-service-contents--error-service-pull .react-flow__handle:hover,
.react-flow__node-service-contents-source-error-service-pull .react-flow__handle:hover,
.react-flow__node-service-contents-destination-error-service-push .react-flow__handle:hover {
  background-color: var(--xy-custom-edge-stroke-error);
}

.react-flow__node-service-contents--error-service-pull .react-flow__handle-plugged,
.react-flow__node-service-contents-source-error-service-pull .react-flow__handle-plugged,
.react-flow__node-service-contents-destination-error-service-push .react-flow__handle-plugged {
  background-color: var(--xy-custom-edge-stroke-error);
}


.react-flow__node-service .react-flow__node-service-icon,
.react-flow__node-service .react-flow__node-service-icon-delete {
  background: white;
  top: -16px;
  left: -16px;
  position: absolute;
  padding: 8px;
  border-radius: 100%;
  filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, .1));
}

.react-flow__node-service-icon-delete {
  cursor: pointer;
  opacity: 0;
  transition: opacity .15s ease-out;
}

.react-flow__node-service-icon-delete:hover {
  opacity: 1;
}

.react-flow__node-service .react-flow__node-service-title input {
  display: flex;

  padding: 0;
  font-size: .75em;
  text-align: center;
  background: transparent;
  border: none;
}

.react-flow__node-service-subtitle {
  font-size: .5em;
}

.react-flow__node-service-status-select {
  transform: scale(.4);
  position: absolute;
  width: 192px;
  top: -16px;
  right: -64px;
}

.react-flow__node-service-action-button-gear {
  transition: transform 0.6s ease-in-out;
}

.react-flow__node-service-action-button:hover .react-flow__node-service-action-button-gear {
  transform: rotate(180deg);
}

/* Service Form Layout */
.react-flow__node-service-form-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.react-flow__node-service-form-row {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* Data Layer node */
.react-flow__node-stage-contents {
  background: var(--xy-custom-node-background);
  border-radius: var(--xy-custom-border-radius-default);
  width: 64px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: .5em;
}

/* Highlight stage nodes that are causing an error status */
.react-flow__node-stage-contents-modelize-error-data-modelize,
.react-flow__node-stage-contents-egress-error-data-egress {
  outline: 2px solid var(--xy-custom-edge-stroke-error);
  animation: blink-outline 1s infinite;
}

.react-flow__node-stage-contents-modelize-error-data-modelize .react-flow__handle,
.react-flow__node-stage-contents-egress-error-data-egress .react-flow__handle {
  border-color: var(--xy-custom-edge-stroke-error);
}

.react-flow__node-stage-contents-modelize-error-data-modelize .react-flow__handle:hover,
.react-flow__node-stage-contents-egress-error-data-egress .react-flow__handle:hover {
  background-color: var(--xy-custom-edge-stroke-error);
}

.react-flow__node-stage-contents-modelize-error-data-modelize .react-flow__handle-plugged,
.react-flow__node-stage-contents-egress-error-data-egress .react-flow__handle-plugged {
  background-color: var(--xy-custom-edge-stroke-error);
}

/* Warehouse node */
.react-flow__node-warehouse {
  font-weight: 200;
  background: var(--xy-custom-node-background);
  border-radius: var(--xy-custom-border-radius-default);
  padding: var(--xy-custom-node-padding);
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes blink-outline {
  50% {
    outline: 2px solid rgba(0, 0, 0, 0);
  }
}

@keyframes blink-opacity {
  50% {
    opacity: 0.25;
  }
}

/* Custom edges */
@keyframes in-out {
  0% {
    opacity: 0;
  }

  25% {
    opacity: 1;
  }

  90% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.react-flow__edge-data__gizmo {
  animation: in-out 2s linear infinite;
}

.react-flow__node-annotation {
  background: transparent;
  padding: 8px;
  border: none;
  filter: none;
  box-shadow: none;
  align-items: center;
  color: #888;
  cursor: default !important;
}

.react-flow__node-annotation-text {
  font-family: "Protest Riot", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 0.6em;
}

.react-flow__node-annotation-arrow {
  position: absolute;
}

.react-flow__node-annotation-arrow-top-left {
  transform: scaleY(-1) rotate(-80deg);
  left: -8px;
  top: 0px;
}

.react-flow__node-annotation-arrow-top-right {
  transform: rotate(100deg);
  right: -8px;
  top: 0;
}

.react-flow__node-annotation-arrow-right {
  transform: rotate(0deg);
}

.react-flow__node-annotation-arrow-bottom-left {
  transform: rotate(-90deg);
  left: -8px;
  bottom: -4px;
}

.react-flow__node-annotation-arrow-bottom-right {
  transform: scaleX(-1) scaleY(-1) rotate(-30deg);
  right: -12px;
  bottom: 0px;
}

/* Import Modal Styles */
.import-modal-content {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.import-modal-format-selector {
  display: flex;
  align-items: center;
  gap: 12px;
}

.import-format-select {
  padding: 6px 10px;
  border-radius: var(--viewer-border-radius);
  border: var(--viewer-border);
  background-color: var(--viewer-background);
}

.import-modal-textarea-container {
  position: relative;
}

.import-modal-textarea {
  width: 100%;
  box-sizing: border-box;
  padding: 16px;
  min-height: 240px;
  border-radius: var(--viewer-border-radius);
  border: var(--viewer-border);
  font-family: monospace;
  resize: vertical;
}

.import-clipboard-button {
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 6px 10px;
  font-size: 0.8rem;
}

.import-validation-error {
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--viewer-button-destructive);
  padding: 8px 12px;
  background-color: rgba(220, 53, 69, 0.1);
  border-radius: var(--viewer-border-radius);
  border: 1px solid var(--viewer-button-destructive);
}

/* Add an icon for the import button */
.icon-import {
  transform: scaleX(-1);
}
